.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___left img, .fighter-preview___right img {
  max-height: 15rem;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___left, .fighter-preview___right {
  width: 40%;
}

.fighter-wrapper {
  background-color: #ffdfa7;
  border: 5px solid #ca9650;
  padding: 10px;
  text-align: center;
}

.fighter-values {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100px;
  text-align: center;
}

.fighter-values h2 {
  ;
}
